.font-icon-list .font-icon-detail{
  border: 1px solid #0f070a;
  p{
    color: #0a0104 !important;
    font-size: 13px !important;
  }
}

.font-icon-size{
  height: 200px;
  width: 20%;
  margin: 25px;
  margin-bottom: 100px;
}

.class-button{
  background-color: rgb(240, 206, 143);
  border: thin solid rgb(240, 206, 143); 
  border-radius: 5px;
  height: 45px;
  width: 17%;
  float: right;
  margin-right: 2%;
  box-shadow: 9px 7px 5px rgba(44, 35, 35, 0.77);
}

.container-img { 
  object-fit: cover;
  width:200px; 
  height:150px;   
}

.button-baixo-dir{
  border: thin solid rgb(248, 246, 246); 
  border-radius: 5px;
  height: 30px;
  width: 30%;
  box-shadow: 7px 5px 5px;
  float: left;
  margin: 20px;
 }


.button-baixo-esq{
  border: thin solid rgb(248, 246, 246); 
  border-radius: 5px;
  height: 30px;
  width: 30%;
  box-shadow: 7px 5px 5px;
  float: right;
  margin: 20px;
}

